<html xmlns:th="http://www.thymeleaf.org">
<aside id="left-panel" class="left-panel" th:fragment="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" th:href="@{/zonaladmin/home}">JYKC Admin</a>
            <a class="navbar-brand hidden" th:href="@{/zonaladmin/home}"><img src="" alt="JYKC"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a th:href="@{/zonaladmin/home}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
               <li>
                    <a th:href="@{/zonaladmin/committed_members}"> <i class="menu-icon fa fa-users"></i>Committed members </a>
                </li>
                <li>
                    <a th:href="@{/zonaladmin/group_info}"> <i class="menu-icon fa fa-list-ol"></i>Groups</a>
                </li>
                <li>
                    <a th:href="@{/zonaladmin/registered}"> <i class="menu-icon fa fa-thumbs-up"></i>JYKC registered members </a>
                </li>
                <li>
                    <a th:href="@{/zonaladmin/not_registered}"> <i class="menu-icon fa fa-thumbs-down"></i>JYKC Not registered </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
</html>