<!DOCTYPE html>
<html lang="en">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<title>Jesus Youth Kerala Conference</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/flipclock.js"></script>
	<link rel="stylesheet" href="css/flipclock.css">
	<style>
		.bgimage{
			position: relative;
			z-index: 1;
			background-image: url('images/jykc.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			min-height: 100vh;
		}
	</style>
</head>
<body class="bgimage">
</body>
</html>